@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
header {
  font-family: "Montserrat", sans-serif;
  height: 15vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  
}
header h2 {
  margin: 0;
  padding: 5vh;
  margin-right: 30vw;
}
header a {
  text-decoration: none;
  color: black;
  font-size: x-large;
  padding: 5vh;
}
#name_user {
  font-weight: bold;
}

body {
  font-family: "Comic Sans MS", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
}
