<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/style/style.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h2>ChatUp</h2>
      <a href="#">Chat</a>
      <a href="#">Rules</a>
      
      <a href="#" id="name_user">Vasya</a>
      <a href="#">Sign in</a>
      <button type="button" id="btn_sign_up">Sign up</button>
    </header>
    <main>
    </main>
  </body>
</html>
